keystore "http://161.53.120.205/NWTiS/NWTiS.jks", "jks";

grant signedBy "damdrempe" {
	 permission java.io.FilePermission "<<ALL FILES>>", "read";
};
